@{
    if (this.User.Identity.IsAuthenticated)
    {
        @Html.Partial("../AuthorizedPartial")
    }
    else
    {
        @Html.Partial("../LogOrReg")
    }
}

@{
    ViewBag.Title = "Logout";
}
<div class="login">
    <h1>Блаблабла</h1>
    
</div>
